<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= member.birth_date %>
  </p>

  <p>
    <strong>Death date:</strong>
    <%= member.death_date %>
  </p>

  <p>
    <strong>Family:</strong>
    <%= member.family.name %>
  </p>

</div>
